{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">ABOUT ME</h1>

{% endblock %}

{% block subtitulo %}

<p>Hola!! Mi nombre es Federico, soy Técnico Electrónico y Full Stack Developer Jr.</p>

<h1>{{ mensaje }}</h1>

{% endblock %}

{% block about %}
<div style="text-align: justify;">
    <h6 class="mb-5">Apasionado de la tecnología y entusiasta por el desarrollo de soluciones y/o mejoras a los problemas que se presentan. Actualmente, me encuentro realizando diversas capacitaciones relacionadas a la Programación Web y el Análisis de Datos con el objetivo de desempeñarme profesionalmente en el campo IT.
        Mi principal interés es el aprendizaje constante para poder transformar y optimizar los diversos ámbitos que lo requieran.</h6>
</div>
<br>
<div style="text-align: justify;">
    <h6 class="mb-5">Sobre el proyecto...</h6>
</div>


{% endblock %}