{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">FORMULARIO PARA AGREGAR POST</h1>

<h4>{{ mensaje }}</h4>

{% endblock %}

{% block agregar_post %}

<h2>Complete los datos del nuevo Post :</h2>

<form action="{% url 'createPage' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %} 
    <!-- el csrf_token es para validar al usuario que realiza los cambios -->    
    
    <table>                
        {{ form.as_p }}
        {{ form.media }}
    </table>

    <div class="boton" style="text-align: center;">
        <input type="submit" class="btn btn-primary text-uppercase" value="Guardar Post">
    </div>

</form>
<br>

{% endblock %}