{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">PAGES</h1>

<h3>{{ mensaje }}</h3>
{% endblock %}


{% block pages %}

<ul>
    <h1>Últimos Posts</h1>
    <br>
    {% for post in posteos %}
    <li>
        <div class="titulo" style="text-align: justify;">
            <h2><a href="{% url 'page' post.id %}"> {{ post.titulo }} </a></h2>
        </div>
        <br>
        <div class="subtitulo" style="text-align: justify;">
            <h5> {{ post.subtitulo }} </h5>
        </div>     
        <p class="post-meta"><i>
            Posted by
            <a href="#!"> {{ post.autor }} </a>
              -   {{ post.fecha_publicacion }} </i>
        </p>    
            
    </li>
    {%if user.is_authenticated %}
    <div class="btn_edit">
        <a class="btn btn-success" href="{% url 'updatePage' post.id %}">Editar</a>
    </div>
    <br>
    <div class="btn_delete">
    <a class="btn btn-danger" href="{% url 'deletePage' post.id %}">Eliminar</a>
    </div>    
    <br>
    
    {% endif %}
    <!-- Divider-->
    <hr class="my-4" />

    {% endfor %}
</ul>

{%if user.is_authenticated %}
<a class="btn btn-primary text-uppercase" href="{% url 'createPage' %}">Agregar Post</a>
{% endif %}

<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

{% endblock %}